.ch1 {
    font-size: 200%;
    font-weight: 900 !important;
    margin-top: 10%;
    color: white;
}

.cp1{
    font-size: 100%;
    color: white;
}

.forms {
    width: 500px;
    justify-content: center !important;
    margin: auto ;
    margin-top: 7.5%;
}

.send-button{
    font-weight: 900;
}

.name-box{
    width: 245px;
}

.first-name-box{
    margin-right: 10px;
}