.caption-header{
    font-size: 200% !important;
    font-weight: 900 !important;
    color: white !important;
}

.caption-body{
    font-size: 150% !important;
    font-weight: 400 !important;
    color: white !important;
}