.h1 {
    font-size: 200%;
    font-weight: 900 !important;
    margin-top: 10%;
}

.p1{
    font-size: 100%;
    color: rgb(255, 255, 255);
    
}

.forms {
    width: 500px;
    justify-content: center !important;
    margin: auto ;
    margin-top: 7.5%;
}